html {
    height: 100%;
}
section {
    background: rgba(0, 0, 0, .45);
    color: white;
}
body {
    background-image: url(../images/automobil.jpg);
    background-size: cover;
}
.btn-my-color-outline {
    color: white;
}
.card-body {
    color: black;
}
.cudlik {
    color: black;
}